.main .first-info {
    margin: 0;
    padding: 0;

    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;

    color: var(--Fonts-Black, #284159);
    font-feature-settings: 'liga' off, 'clig' off;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main .first-info * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main .first-info .photo {
    width: 378px;
    height: 550px;
    border-radius: 20px;
}

.main .first-info .items {
    width: 100%;
    max-width: 786px;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 52px;
}

.main .first-info .items .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.main .first-info .items .item .info {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.main .first-info .items .item .big-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
}

.main .first-info .items .item .feedback {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;

    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.main .first-info .items .item .feedback .stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
}

.main .first-info .items .item .feedback .stars img {
    width: 32px;
    height: 32px;
}

.main .first-info .items .item .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}

.main .first-info .items .item .socials img {
    width: 32px;
    height: 32px;
}

.main .first-info .items .item .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.main .first-info .items .item .buttons button {
    display: flex;
    width: 240px;
    padding: 14px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main .first-info .items .item .buttons .order-button {
    border-radius: 10px;
    background: var(--Blue, #165AD4);
    cursor: pointer;
}

.main .first-info .items .item .buttons .order-button div {
    color: var(--White, #FFF);
}

.main .first-info .items .item .buttons .b2 {
    border-radius: 10px;
    border: 1px solid var(--Blue, #165AD4);

    cursor: pointer;
    background-color: white;
}





.main .second-info {
    margin: 0;
    padding: 0;

    margin-top: 60px;
    margin-bottom: 50px;

    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 40px;

    color: var(--Fonts-Black, #284159);
    font-feature-settings: 'liga' off, 'clig' off;

    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.main .second-info * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main .second-info h4 {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

    padding-right: 15px;
    padding-left: 15px;
}

.main .second-info .body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.main .second-info .body .info {
    padding-right: 15px;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;

    margin-bottom: -50px;
}

.main .second-info .body .info .title {
    padding-right: 15px;
    padding-left: 15px;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}


.main .second-info .body .info .description {
    padding-right: 15px;
    padding-left: 15px;

}


.main .second-info .body .info .description ul {
    padding-left: 15px;

}