{% load static %}


<section class='about-us-bottom'>
    <div class='block'>
        <h3 class='top-title'>Завжди раді вас бачити!</h3>
        <div class='info'>
            <h3>Завжди раді вас бачити!</h3>
            <div class='details'>
                <div class='clarifications'>
                    <div class='title' itemprop="name">{{ gen_info_block.0.title }}</div>
                    <div class='body' itemprop="description"><span style='color: #165AD4;'>{{ gen_info_block.0.text }}</span></div>
                </div>
                <div class='clarifications'>
                    <div class='title' itemprop="name">{{ gen_info_block.1.title }}</div>
                    <div class='body' itemprop="description">
                        <a href="https://www.google.com/maps/search/?q={{ gen_info_block.1.text|urlencode }}">
                            {{ gen_info_block.1.text }}
                        </a>
                    </div>
                </div>
                <div class='clarifications'>
                    <div class='title' itemprop="name">{{ gen_info_block.2.title }}</div>
                    <div class='body' itemprop="description">
                        <a href="tel:{{ gen_info_block.2.text|cut:' '|cut:'('|cut:')'|cut:'-' }}">
                            {{ gen_info_block.2.text }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='map'>
            <iframe class='full' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.6688939172864!2d30.534889176460762!3d50.42864037158808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf0e4d94e6c7%3A0xb61378bb85f2033c!2z0LHRg9C7LiDQm9C10YHQuCDQo9C60YDQsNC40L3QutC4LCAzNCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1736788584100!5m2!1sru!2sua" width="785" height="378" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
